{
  "ADMIN_EMAIL": "",
  "ADMIN_PASSWORD": "",
  "CHIEF_WARDEN_EMAIL": "",
  "CHIEF_WARDEN_PASSWORD": "",
  "WARDEN_EMAIL": "",
  "WARDEN_PASSWORD": "",
  "WORKER_EMAIL": "",
  "WORKER_PASSWORD": "",
  "GOOGLE_CLIENT_ID": ""
}
